body,
p,
a, h1, h2, h3, h4, h5, h6,
.hello__title,
.menu__link, 
.hello__text, 
.recent-post,  
.recent-posts__column,
.recent-post__text,
.recent-post, 
.works__text,
.works__main-title,
.article__text > p,
.blog__title, 
.blog__text {
    background: #222222;
    color: white;
}

.recent-posts, 
.recent-posts__title,
.recent-posts__view-all, 
.recent-posts__items {
    background: #000000;
    color: white;
    box-shadow: #222222;
}

.icon-span {
    background: #fffcfc;
    color: white;
}

.theme {
    background: #222222;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
} 
@media (max-width: 767.98px){
    .icon-menu ._active span ._active{
        background-color: #040000;

    }
}
@media (max-width: 767.98px){
    .icon-menu span {
        background-color:rgb(240, 16, 16);
    }
    .menu__icon.icon-menu._active {
        background-color: rgb(6, 3, 3);
    }

}
.scroll-up:hover {
    color: rgb(242, 242, 15);
  }
.scroll-up__svg-path {
     stroke: rgb(240, 16, 16);
   }
  
